<div class="row">
  <div class="col">
    <h4>Phrase Details</h4>

    <div>ID: {{ phrase.id }}</div>
    <div *ngIf="authService.isLoggedIn; then isAuth; else notIsAuth"></div>

    <div class="my-3 btn-group">
      <button (click)="goToPhrasesList(phrase)" class="btn btn-dark" type="button">Go To Phrases List</button>
    </div>

  </div>
</div>


<ng-template #isAuth>
  <div class="row">
    <div class="col-6">
      <form #phrasesForm="ngForm">

        <div class="mb-3">
          <label class="form-label" for="value">Фраза:</label>
          <input [(ngModel)]="editValue" class="form-control" id="value" name="value" type="text">
        </div>

        <div class="mb-3">
          <label class="form-label" for="language">Язык фразы:</label>
          <input [(ngModel)]="editLanguage" class="form-control" id="language" name="language" type="text">
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="isChanged()" class="mb-3 inline-btn">
    <button (click)="save()" class="btn btn-dark">Сохранить</button>
  </div>
</ng-template>


<ng-template #notIsAuth>
  <div class="row">
    <div class="col">
      <div>Value: {{ phrase.value }}</div>
      <div>Language: {{ phrase.language }}</div>
    </div>
  </div>
</ng-template>
