<div class="row">
  <div class="col">
    <h3>Login</h3>

    <div class="row">
      <div class="col-4">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

          <div class="mb-3">
            <label class="form-label" for="login">Логин:</label>
            <input (blur)="onValueChanges()"
                   [class]="{'is-valid': form['login'].valid,
                   'is-invalid': form['login'].invalid && (form['login'].dirty || form['login'].touched)}"
                   class="form-control" formControlName="login" id="login" placeholder="Начните вводить ваш логин... (admin)" type="text">
            <div *ngIf="form['login'].valid" class="valid-feedback">{{ formSuccess }}</div>
            <div *ngIf="form['login'].invalid && (form['login'].dirty || form['login'].touched)" class="invalid-feedback">
              {{ formErrors.login }}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Пароль:</label>
            <input (blur)="onValueChanges()"
                   [class]="{'is-valid': form['password'].valid,
                   'is-invalid': form['password'].invalid && (form['password'].dirty || form['password'].touched)}"
                   class="form-control" formControlName="password" id="password" placeholder="Начните вводить ваш логин... (12345)"
                   type="password">
            <div *ngIf="form['password'].valid" class="valid-feedback">{{ formSuccess }}</div>
            <div *ngIf="form['password'].invalid && (form['password'].dirty || form['password'].touched)" class="invalid-feedback">
              {{ formErrors.password }}
            </div>
          </div>

          <button [disabled]="loginForm.invalid" class="btn btn-dark">Сохранить</button>

        </form>
      </div>
    </div>

  </div>
</div>
