@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.btn-group {
  margin: 20px 0;
}

a, button {
  text-decoration: none;
  display: block;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 7px;
  transition: all .3s ease-in-out;

  &:hover,
  &:focus,
  &.active {
    background-color: gray;
    border-color: lightgray;
    color: white;
  }
}
